<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
      Where packages should go.  Visual Studio will provide a default value of $(SolutionDir) but command-line based
      package restores could end up in a different location.  Setting this value keeps Visual Studio and NuGet.exe
      in sync for packages.config based restores.
    -->
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="CBT" value="https://microsoft.pkgs.visualstudio.com/_packaging/CBT/nuget/v3/index.json" />
    <add key="CloudBuild" value="https://cloudbuild.pkgs.visualstudio.com/_packaging/CloudBuild/nuget/v3/index.json" />
    <add key="OSS_All" value="https://ossmsft.pkgs.visualstudio.com/_packaging/OSS_All/nuget/v3/index.json" />
    <add key="SecureDevelopmentTools" value="https://securitytools.pkgs.visualstudio.com/_packaging/SecureDevelopmentTools/nuget/v3/index.json" />
    <add key="O365ExchangeCommon" value="https://o365exchange.pkgs.visualstudio.com/DefaultCollection/_packaging/Common/nuget/v3/index.json" />
  </packageSources>
</configuration>